body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;

    font-size: 1.2vw;
}

.header {
    float: top;
    width: 100%;
    height: 15vh;
    background-color: pink;
    
}

.header.content {
    max-width: 980px;
}

.menu {
    width: 100%;
    height: 7vh;
    background-color: grey;

    display: inline;
}

.menu > ul li {
    display: inline;
}

.side-scroller {
    background-color: red;
    height: 10vh;
    width: 100vw;
}

.path-view {
    background-color: burlywood;
    width: 100vw;
    height: 5vh;
}
.content-block {
    width: 100vw;
    height: 70vh;
}

.contents-menu {
    float: left;
    width: 10%;
    height: 100%;
    background-color: darkgreen;
}

.content-view {
    float: left;
    width: 90%;
    min-height: 10vh;
    background-color: blue;
}

.footer {
    float: top;
    min-height: 10vh;
    background-color: blueviolet;
}

