body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header {
    float: top;
    width: 100%;
    height: 10%;
    background-color: pink;
}

.header.content {
    max-width: 980px;
}
.menu {
    float: top;
    width: 100%;
    height: 7%;
    background-color: grey;
}

.menu.ul {
    white-space: nowrap;
    overflow:hidden;
}
.menu.li {
    display: inline;
    background-color: azure;
}