* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #767676;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    transition: all 0.5s ease;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: #ececec;
    border-bottom: .07em solid;
}

a:active {
    color: rgb(214, 214, 214);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.limiter {
    max-width: 980px;
    width: 100%;
    margin: auto auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

header {
    flex: 0 0 230px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

header.content {
    background-color: #fdfdfd;
}

.main-menu {
    flex: 0 0 80px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#slider {
    flex: 0 0 400px;
    max-height: 400px;
    background-color: #fdfdfd;
    overflow: hidden;
}

#slider img {
    object-fit: cover;
   
    max-width: none;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    display: none;
}

.main-content {
    flex: 1 0 auto;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
}

.main-limiter {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
    flex: 0 0 auto;
}

.content-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    margin-left: auto;
    width: 200px;
    background-color: #fdfdfd;
}

.content {
    width: 100%;
}

footer {
    background-color: #1b1b1b;
    flex: 0 0 220px;
    display: flex;
    flex-direction: row;
}

.company-contacts, .company-name {
    max-width: 300px;
    min-width: fit-content;
}

.company-name {
    display: flex;
    flex-direction: row;
}

.company-name>img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.text-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.company-name>.text-group>p.title {
    font-size: 26px;
    font-weight: bold;
}

.company-name>.text-group>p.slogan {
    margin-top: 10px;
}

.company-contacts {
    margin-left: auto;
    text-align: right;
}

.company-contacts>.text-group>p {
    font-stretch: ultra-condensed;
    font-size: 30px;
    transform: scaleY(1.2);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.main-menu .limiter ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.main-menu .limiter ul li {
    padding-top: 10px;
    margin: auto;
    min-width: fit-content;
}