* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    color: #767676;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}

a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    color: #ececec;
    border-bottom: .07em solid;
}

a:active {
    color: rgb(214, 214, 214);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.limiter {
    max-width: 980px;
    width: 100%;
    margin: auto auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

header {
    flex: 0 0 230px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

header.content {
    background-color: #fdfdfd;
}

.main-menu {
    flex: 0 0 80px;
    background-color: #1b1b1b;
    color: #ffffff;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#slider {
    flex: 0 0 400px;
    max-height: 400px;
    background-color: #fdfdfd;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
}

#slider img {
    object-fit: cover;
    height: 400px;
    width: auto;
    max-width: none;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    border-radius: 0;
    transition: 1s;
    animation: show 3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input[type="button"] {
    width: 35px;
    height: 60px;
    background-color: rgba(209, 209, 209, 0.6);
    border: 0;
    color: black;
    font-size: 40px;
    transform: scaleY(1.5);
    position: absolute;
    z-index: 1;
    top: 40%;
    outline: none;
}

input[type="button"].left {
    left: 10%;
}

input[type="button"].right {
    right: 10%;
}

.store-path {
    flex: 0 0 60px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-content {
    flex: 1 0 auto;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
}

.main-limiter {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
    flex: 0 0 auto;
}

.content-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar {
    margin-left: auto;
    width: 200px;
    background-color: #fdfdfd;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer {
    background-color: #1b1b1b;
    flex: 0 0 220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.company-contacts, .company-name {
    max-width: 300px;
    min-width: fit-content;
}

.company-name {
    display: flex;
    flex-direction: row;
}

.company-name>img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}

.text-group {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.company-name>.text-group>p.title {
    font-size: 26px;
    font-weight: bold;
}

.company-name>.text-group>p.slogan {
    margin-top: 10px;
}

.company-contacts {
    margin-left: auto;
    text-align: right;
}

.company-contacts>.text-group>p {
    font-stretch: ultra-condensed;
    font-size: 30px;
    transform: scaleY(1.2);
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.main-menu .limiter ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 0;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.main-menu .limiter ul li {
    padding-top: 10px;
    margin: auto;
    min-width: fit-content;
}

.store-path .limiter ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px;
    margin-left: 0;
    list-style: none;
}

.store-path .limiter ul li {
    padding-top: 10px;
    margin-right: 0;
    min-width: fit-content;
}

.store-path .limiter ul li+li:before {
    content: ' / ';
}

.toplined {
    margin-top: 60px;
    padding-top: 10px;
    border-top: 1px solid #777777;
    display: flex;
    justify-items: auto;
}

.page-numbers {
    flex: 0 0 40px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

.page-numbers .limiter ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px;
    justify-content: space-evenly;
    margin: auto;
    list-style: none;
    align-items: flex-end;
    align-content: flex-end;
}

.page-numbers .limiter ul li {
    padding-top: 10px;
    margin-right: 0;
    padding-right: 20px;
    min-width: fit-content;
    margin-bottom: auto;
}

.page-numbers .limiter ul li[current="true"] {
    font-weight: bolder;
    font-size: 16px;
    color: #444444;
    font-family: 'PT Sans', sans-serif;
}

.page-numbers .limiter ul li a {
    color: #767676;
}

.text-group.normalized {
    margin: auto;
    margin-top: 0;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 50%;
}

.shopItem {
    min-width: 250px;
    max-width: 250px;
    min-height: 380px;
    max-height: 380px;
    background-color: #e6e6e6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 25px;
    margin-top: 20px;
}

.shopItem:hover {
    animation-name: shadowPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes shadowPulse {
    0% {
        box-shadow: 0px 0px 0px 0px rgb(230, 230, 230);
    }
    100% {
        box-shadow: 5px 5px 5px 0px hsla(0, 0%, 83%, 0);
    }
}

.shopItem .record {
    min-width: 210px;
    max-width: 210px;
    min-height: 210px;
    max-height: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.shopItem .record img.label {
    width: 75px;
    height: 75px;
    z-index: 0;
    position: absolute;
    top: 70px;
    left: 70px;
}

.shopItem .record img.recordImage {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.shopItem .title {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.shopItem a {
    margin-top: auto;
    color: black;
}

.shopItem .priceBlock {
    width: 230px;
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.shopItem .priceBlock p.price {
    color: #3d3d3d;
    font-size: 28px;
    font-weight: bold;
}

.shopItem .priceBlock p.price::after {
    content: '$';
}

.shopItem .priceBlock img.shopCart {
    width: 30px;
    height: auto;
    margin-left: auto;
}

.evenly {
    justify-content: space-evenly;
}

.limit {
    width: 1000px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.limit div {
    margin-top: 45px;
    color: #ededed;
}

ul.vertical {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 0;
    margin: auto;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    margin-top: 0;
    color: #767676;
}

ul.vertical li {
    min-width: fit-content;
    margin-top: 0;
}

img.authorLogo {
    width: 45px;
    height: 45px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 0;
}

.row * {
    margin: 10px;
}

.sidebar a {
    color: #777777 !important;
}

ul.doted * {
    font-size: 12px;
    margin-left: 10px;
    list-style-type: disc;
}

.feedbackWrapper {
    width: 100%;
    min-height: 100%;
    position: absolute;
    /* opacity: 1; */
    display: none;
    z-index: 9;
}

.feedback {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 470px;
    height: 580px;
    background-color: #fff;
    z-index: 11;
    left: 50%;
    margin-left: -235px;
    top: 280px;
    display: flex;
    flex-flow: column;
    color: #535353;
    font-weight: bold;
    align-items: center;
}

.feedback>* {
    margin-top: 30px;
}

.feedback p.title {
    font-size: 30px;
}

.feedback .inputGroup {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputGroup p.subtitle {
    font-size: 20px;
}

.inputGroup p.subtitle::after {
    content: '*';
}

.inputGroup input[type="text"] {
    min-width: 340px;
    max-width: 340px;
    min-height: 45px;
    max-height: 45px;
    font-size: 20px;
}

.inputGroup input[type="text"]>* {
    margin-left: 10px;
}

.inputGroup input[type="submit"] {
    min-width: 130px;
    max-width: 130px;
    min-height: 40px;
    max-height: 40px;
    color: whitesmoke;
    border: 0;
    font-size: 27px;
    font-weight: bold;
    background-color: #777777;
}

.inputGroup input[size="large"] {
    min-width: 340px;
    max-width: 340px;
    min-height: 145px;
    max-height: 145px;
}

.close {
    position: absolute;
    left: 50%;
    margin-left: 235px;
    top: 248px;
    width: 32px;
    height: 32px;
    background-color: #fdfdfd;
    opacity: 0.8;
    z-index: 121;
}

.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.feedbackDarkner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .8);
}